<div class="post">
	<h2 class="title"><%= @post.title %></h2>
	<small><%= @post.created_at.strftime("%b %d. %Y") %></small>

	<div class="entry">
		<p><%= @post.body %></p>
	</div>

		<p>Category: <%= link_to @post.category.name, category_path(id: @post.category.id) %></p>
</div>



<!-- <p><%= link_to 'Back', posts_path %></p> -->
<!-- # <%= link_to 'Edit',edit_post_path %> | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> -->